extends layout
block head
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')

block content
    div.container(ng-controller="mainIndexController")
        h2 f1Xcope

        div.span9
            h4 Welcome to the main Index
                br
                span text
                    textarea(ng-model="vm.tbr.text", rows="1", cols="40")
                br
                button.btn.btn-primary(type="button", ng-click="vm.reverse_text()") Submit
                br
                span reverse
                    textarea(ng-model="vm.tbr.result", rows="1", cols="40")
                br

        div.span9
            h4 connection
                br
                span user
                    textarea(ng-model="vm.conn.user", rows="1", cols="40")
                br
                span host
                    textarea(ng-model="vm.conn.host", rows="1", cols="40")
                br
                span port
                    textarea(ng-model="vm.conn.port", rows="1", cols="40")
                br
                button.btn.btn-primary(type="button", ng-click="vm.connect_socketIO()") Submit
                br
                span result
                    textarea(ng-model="vm.conn.result", rows="1", cols="40")
                br